@font-face {
	font-family: BlockThreeByFive;
	font-style: normal;
	src: url(../Fonts/BlockThreeByFive.ttf);
}

a {
	color: #606060;
}

body {
	background-color: White;
	background-position: center;
	background-image: url('../Images/ThisCouldBeBetter-Title.png');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: BlockThreeByFive;
	text-align: center;
	font-size: 24px;
	color: #606060;
}

.button {
	// This doesn't work, but neither does just "button".
	font-family: BlockThreeByFive;
}

div {
	margin-left:20%;
	margin-right:20%;
}

p {
	text-align: justify
}

